# Ignore node_modules
node_modules/

# Ignore environment files
.env

# OS/system files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
.next/
dist/
out/
build/
